{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
<br /><br />
    <div class="jumbotron">
      <h1>Hello, world!</h1>
      <p>This is a Flask App.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <br />
    <div class="center">
      <div class="row">
        {% for listing in listings %}
          <div class="col-md-3">
            <div class="thumbnail">
                  <div class="caption">
                    <h3>{{ listing.name }}</h3>
                    <p>{{ listing.description }}</p>
                    <p>{{ listing.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <br /><br />
{% endblock %}
