{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
    <div id="Show Listing">
        <h2>Listing {{ list_id }}</h2>
        <h3>{{ listing.name }}</h3>
        <p>${{ listing.price }}</p>
        <p>{{ listing.description }}</p>
    </div>
    <a class="btn btn-default" href="{{ url_for('index') }}" role="button">Show All</a><br />
    <a class="btn btn-success" href="{{ url_for('listing_edit', listing_id=listing.id) }}" role="button">Edit Listing</a><br />
    <a class="btn btn-danger" href="{{ url_for('listing_delete', listing_id=listing.id) }}" role="button">Delete Listing</a>
{% endblock %}